<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-MCoronaTec/blob/main/A01793016_MarioCorona_Module4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python IBM Módulo 4

**Alumno:** Mario Alberto Corona Cadenas

**Matricula:** A01793016

# File Object
- Usamos el método `open` que recibe el path de archivo como parámetro
- `with` se usa para manipulta el archivo y fuera de el, el archivo se cierra
- `read` es el metodo a usar para leer el conternido

In [ ]:
with open("testFile.txt") as File1:
  file_stuff = File1.read()
  print(file_stuff)

print(File1.close())
print(file_stuff)

Usamos el método `readline()` para leer linea por linea

In [ ]:
with open("testFile.txt") as File1:
  file_line = File1.readline()
  print(file_line)
  file_line = File1.readline(1)
  print(file_line)
  file_line = File1.readline(1)
  print(file_line)
  file_line = File1.readline(1)
  print(file_line)
  file_line = File1.readline(1)
  print(file_line)

Este es un archivo de prueba



A
q
u

In [ ]:
# Con loop
with open("testFile.txt") as File1:
  file_stuff = File1.readlines()
  for currentLine in file_stuff:
    print(currentLine)

- Por medio de lineas incluidas es una lista y direccionandsolas con índices

In [ ]:
with open("testFile.txt") as File1:
  fileLines = File1.readlines()
  print(fileLines[1])
  print(fileLines[13])
  print(fileLines[8])
  print(fileLines[5])

No resenta notebooks del Módulo 4.

3 pts

Semana 2 - Actividad 1: Python for Data Science (IBM)

# Achivo `open` y método `write` 
- Con el método `write` podemos escribir en el archivo
- Se debe indicar el modo de operación que se hará con el archivo, en este casp `"w"`

In [ ]:
with open("testFileWrite.txt", "w") as File2:
  File2.write("Esta es una nueva linea")

# Achivo `open` y método `append` 
- Con el método `write` podemos escribir en el archivo
- Se debe indicar el modo de operación que se hará con el archivo, en este caso `"a"` para poder hacer un append de lineas

In [26]:
with open("testFileAppend.txt", "w") as File3:
  for i in range (0,16):
    File3.write("Esta es una nueva linea: "+str(i)+"\n")

# Copia Archivos
- The following lines will copy line by line and append them in a new file

In [ ]:
with open("testFile.txt", "r") as file2Read:
  fileReadLines = file2Read.readlines()
  with open("testFileCopy.txt", "a") as file2Copy:
    for currentLine in fileReadLines:
      print(currentLine)
      file2Copy.write(currentLine)

# PANDAS

In [44]:
import pandas as pd
csv_path='ex4.csv'
df=pd.read_csv(csv_path)
df.head() #Vemos las primeras 5 lineas del archivo

                  Day  ONE_DAY_PRECIPITATION
0  2020-06-01 0:00:00                    1.0
1  2020-06-02 0:00:00                    5.6
2  2020-06-03 0:00:00                    4.1
3  2020-06-04 0:00:00                    4.0
4  2020-06-05 0:00:00                    6.2

In [43]:
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

# `unique`
- Este metodo devuelve los valores unicos encontrados

In [ ]:
import pandas as pd
csv_path='ex4.csv'
df=pd.read_csv(csv_path)
print(df['ONE_DAY_PRECIPITATION'].unique())
print(df['ONE_DAY_PRECIPITATION']>=2.4)
df1=df[df['ONE_DAY_PRECIPITATION']>=2.4]
print(df1)