<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-MCoronaTec/blob/main/MNA_IAyAA_semana_6_Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 6**
###**Árboles de decisión y bosque aleatorio.**

**Nombres y matrículas de los integrantes del equipo:**

*   
*   
*   
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [9]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#**Ejercicio-1.**

In [10]:
d_path = "SouthGermanCredit/SouthGermanCredit.asc"
df = pd.read_csv(d_path, sep=" ", header=None)
english_names = {'laufkont':'status','laufzeit':'duration','moral':'credit_history','verw':'purpose','hoehe':'amount',
                 'sparkont':'savings','beszeit':'employment_duration','rate':'installment_rate',
                 'famges':'personal_status_sex','buerge':'other_debtors','wohnzeit':'present_residence',
                 'verm':'property','alter':'age','weitkred':'other_installment_plans','wohn':'housing',
                 'bishkred':'number_credits','beruf':'job','pers':'people_liable','telef':'telephone',
                 'gastarb':'foreign_worker','kredit':'credit_risk'}
df.replace(english_names, inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
1,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
2,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
3,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
4,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1

#**Ejercicio-2.**

In [27]:
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]
 
X_train, _, y_train, _ = train_test_split(X, Y, train_size=0.85, random_state=1)

#**Ejercicio-3.**

In [ ]:
None

#**Ejercicio-4.**

In [ ]:
None

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

###**Fin de la Actividad de la semana 6.**